<div>
    <div class="main-field">
        <div class="main-left">
            <nav>
                <ul>
                    <li><a>Home</a></li>
                    <li><a>Products</a></li>
                    <li><a>Contact</a></li>
                    <li><a>About</a></li>
                </ul>
            </nav>
            <div class="bank-logo"></div>
        </div>
        <div class="main-right">
            <div class="btn-container">
                <button (click)="loginDialog()" routerLinkActive="router-link-active"  routerLinkActive="router-link-active"  routerLinkActive="router-link-active"  routerLinkActive="router-link-active"  routerLinkActive="router-link-active"  routerLinkActive="router-link-active"  routerLinkActive="router-link-active" routerLinkActive="router-link-active" routerLinkActive="router-link-active" >Login</button>
            </div>
        </div>
    </div>
</div>